<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置扫描的包-->

    <context:component-scan base-package="com.imis.jxufe.*.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 自定义拦截链配置 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/**"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/preRegist"/>
            <mvc:exclude-mapping path="/user/enableUser"/>
            <mvc:exclude-mapping path="/user/userIsLogin"/>
            <bean class="com.imis.jxufe.interceptors.LoginValidateInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/content/" />
        <property name="suffix" value=".jsp" />
    </bean>


    <!-- MVC注解驱动 -->
    <mvc:annotation-driven>
        <!-- 采用自定义方案 -->
        <mvc:message-converters register-defaults="true">
            <!-- 定义文本转化器 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg index="0" value="UTF-8"/>
            </bean>
            <!-- 定义json转化器，支持json跨域 -->
            <bean class="com.imis.jxufe.base.utils.CallbackMappingJackson2HttpMessageConverter">
                <!-- 跨域请求中的请求参数名 -->
                <property name="callbackName" value="callback"></property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

</beans>